@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e9e9e9;
  --background-alpha: #e9e9e9af;
  --foreground: #444444;
  --foreground-alpha: #17171764;
}

.dark {
  --background: #0a0a0a;
  --background-alpha: #0f0f0faf;
  --foreground: #ededed;
  --foreground-alpha: #ededed64;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-grid {
  position: fixed;
  inset: 0;

  background-image: linear-gradient(to right, #22222212 1px, transparent 1px),
    linear-gradient(to bottom, #22222212 1px, transparent 1px);
  background-size: 32px 32px;

  z-index: -1;
}

.dark .bg-grid {
  background-image: linear-gradient(to right, #ffffff08 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff08 1px, transparent 1px);
}

.card {
  background-color: var(--background-alpha);
  border-color: var(--foreground-alpha);
}